<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 <link rel="stylesheet" href="/stylesheets/style.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />  
 <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<script>
	var username = <%-JSON.stringify(username)%>;
	var onlineList = <%-JSON.stringify(onlineList)%>;
	//var hostSite = "videopeer.herokuapp.com";
	var hostSite = "localhost:3000";
</script>  
  
<body>
    
<div class="topbar">
	<span id="app_title">Video Peer</span>
	Hello, <%= username %>
	<span id="logout"><a href='home/logout'><button class="btn btn-danger">Logout</button></a></span>
	<span id="delete_account"><a href='home/deleteAccount'><button class="btn btn-default">Delete Account</button></a></span>
</div>    
    
    <div class="col-md-4">

			Friend: <input id="friendName" type="text" name="id"></input>
			<button id="addFriendBtn">Add Friend</button>

		<div id="friendsListArea"></div>
	
	 	<div id="friendToAddList"></div>
	<!--
		<button id="gray_filter">Gray</button>		
		<button id="sepia_filter">Sepia</button>
		<button id="saturate_filter">Saturate</button>		
		<button id="brightness_filter">Brightness</button>		
		<button id="contrast_filter">Contrast</button>		
		<button id="hue-rotate_filter">Hue Rotate</button>		
		<button id="blur_filter">Blur</button>								
		-->
	</div>
	
	<div class="col-md-8" id="connection_side">
	
    <video id="their_video" autoplay width=662 height=495></video>
    <video id="my_video" class="draggable" muted="true" autoplay width=200 height=200></video>
     <textarea cols="125" rows="4" id="chatbox"></textarea>
     <input type="text" id="chatfield"></input>
     <button type="button" id="sendMessage">Send</button>
    </div>
  </body>
  
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="javascripts/peer.js"></script>
  <script src='javascripts/socket.js' ></script>
  <script src='javascripts/webrtc.js' ></script>
  <script src='javascripts/filters.js'></script>
  <script src='javascripts/main.js'></script>

  <script>
  $(function() {
    $( "#my_video" ).draggable({ containment: "#their_video", scroll: false });
  });
  
  </script>
  
</html>

