<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	<link rel='stylesheet'  href='/stylesheets/landing_page.css' />
</head>
<body>
<div class="topbar">

	<span id="app_title">Video Peer</span>
	
	<div id="whole_member_box">	
		<% if (message) { %>
			<div id="login_flash_message" class="flash_message"><%= message %></div>
		<% } %>
		<div id="member_signup">
			Not a member?
			<a  id="signup_link" data-toggle="modal" data-target="#myModal">
				Sign Up
			</a>
		</div>
		
		<div id="login_area">
			
			 <form action="login" method="POST">
				Username: <input type="text" name="username"></input>
				Password: <input type="password" name="password"></input>
				<button type="submit" class="btn btn-primary">Login</button>
		    </form>		
	
		</div>

	</div>	
	
</div>
    
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create an Account<h4>
      </div>
      <form action="addUser" method="POST">
	      <div class="modal-body">
	      <center>
	      	<% if (message) { %>
					<div id="signup_flash_message" class="flash_message"><%= message %></div>
				<% } %>
	     		<table>
	     			<tr>
			   	<td class="form_label">Username: </td><td><input type="text" name="username"></input><br></td>
			   	</tr>
			   	<tr>
			    	<td class="form_label">Password: </td><td><input type="password" name="password"></input></td>
			    	</tr>
			   </table>
			 </center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Sign Up</button>
	      </div>
      </form>
    </div>
  </div>
</div>

</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</html>
