<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="topbar">

	Video Peer

	<div id="login_area">
	
		 <form action="login" method="POST">
			Username: <input type="text" name="username"></input>
			Password:	 <input type="password" name="password"></input>
			<button type="submit">Login</button>
	    </form>

	</div>
</div>
<!--
    <ul>
		<% for(var i=0; i<data.length; i++){	%>
		<li>
			<%= data[i].id %> <%= data[i].username %> <a href='/deleteUser?id=<%=data[i].id%>'>Delete</a>
		</li>     
		<% } %>
    </ul>
-->
	    <form action="addUser" method="POST">
		    Username: <input type="text" name="username"></input>
		    Password: <input type="password" name="password"></input>
		    <button type="submit">Sign Up</button>
	    </form>

	    
    </div>

  </body>
   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</html>
